@media (max-width: 1200px) {
    .container {
        max-width: 1000px;
    }

    header#main-header {
        .navbar-left__section .nav__list {
            display: none;
        }

        .dropdown {
            display: block;
        }
    }
}

// --------------------------------------------------------------
@media  (max-width: 1024px) {
    .container {
        max-width: 768px;
    }
   section#person { 
    .grid {
        grid-template-columns: repeat(1, 1fr) !important;
    }
   }
}